{% extends 'base.html' %}

{% block title %} {{ request.session.message }} {% endblock %}

{% block main %}
    <h3>{{ request.session.message }}</h3>
    <h3>Apps:</h3>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'clientes:person_list' %}" class="btn btn-primary">Clientes FBV</a>
    <a href="{% url 'clientes:person_list_cbv' %}" class="btn btn-primary">Clientes CBV</a>
    <a href="{% url 'vendas:venda_list' %}" class="btn btn-primary">Vendas</a>
{% endblock %}
