{% extends 'base.html' %}

{% block main %}
<h3>Listagem de clientes CBV</h3>
<br>
<ul class="list-group">
    {% for person in object_list %}
        <li class="list-group-item">
            <a href="{% url 'clientes:person_detail_cbv' person.pk %}">{{ person.first_name }}</a>
            <a href="{% url 'clientes:person_delete_cbv' person.pk %}" class="trash-item">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </li>
    {% endfor %}
</ul>
<br>
<a href="{% url 'clientes:person_new_cbv' %}" class="btn btn-primary"> Novo cliente</a>

{% endblock %}